@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation-right {
  content: '';
  position: absolute;
  margin-top: 32px;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-right-hover {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation-left {
  content: '';
  position: absolute;
  margin-top: 32px;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-left-hover {
  transform: scaleX(1);
  transform-origin: bottom right;
}

@font-face {
  font-family: 'Logo';
  src: url('/font-logo.ttf') format('truetype');
}
